html {
  background: $darkgray;
}

.site-wrapper {
  min-height: calc(100vh - 370px);
}

.bg-lightgray {
  background: $lightgray;
}

.bg-md-lightgray {
  @include media-breakpoint-up(md) {
    background: $lightgray;
  }
}

.paragraph-max-width {
  max-width: 600px;
}
