body {
  font-family: $font-graphik;
}

h1, h2, h4, h5, h6,
.h1, .h2, .h4, .h5, .h6 {
  font-family: $font-gilroy;
  font-weight: 700;
}

h3,
.h3 {
  font-family: $font-gilroy;
  font-weight: 400;
}

.lead {
  font-size: 1em;
}

time {
  font-size: 0.625em;
  letter-spacing: 0.083333333em;
  line-height: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $font-graphik;
  font-weight: 700;
}

.half-opacity {
  opacity: 0.5;
}

.main-content {
  .blockquote {
    margin: 3em 0;
  }

  p {
      margin-bottom: 2em;
  }
}

.text-small {
  font-size: 0.75em;
}

.text-bold {
  font-weight: 700;
}
