<a href="#" class="news-teaser news-teaser-small clearfix mb-3 d-block">
  <img class="float-left w-33 mr-3" src="../images/news_teaser_small_thumbnail.jpg">
  <div class="content">
    <h5 class="mt-3">
      {{ teaser_title|default('Du travail assidu avec Christophe Jeanbourquin')}}
    </h4>
    <time class="half-opacity" datetime="2008-02-14 20:00">12 décembre 2017</time>
  </div>
</a>
