<a href="#" class="gallery-teaser">
  <div class="overlay">
    <div class="content">
      <h4>BBF/A au CSSB 2018 - Montreux</h4>
      <p class="text-small my-0">
        Découvrir l’album
        <svg class="icon icon-right icon-arrow_right">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
        </svg>
      </p>
    </div>
  </div>
  <img src="../images/gallery-{{ i }}.png" alt="">
</a>
