<a href="#" class="badge badge-outline">
  <svg class="icon icon-{{ badge_icon|default('facebook' )}}">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-{{ badge_icon|default('facebook' )}}"></use>
  </svg>
</a>
