@charset 'utf-8';

.news-teaser {
  background: $white;
  color: $black;
  box-shadow: 0 0 30px 0 transparentize($black, 0.93);

  .thumbnail {
    position: relative;
    width: 100%;
    height: 0%;
    padding-bottom: 63%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: 0 1em;
  }

  &:hover {
    text-decoration: none;
  }
}
