<a href="#" class="news-teaser d-flex flex-column h-100">
  <figure class="thumbnail">
    <img src="../images/home_cover.jpg">
  </figure>
  <div class="content">
    <time class="half-opacity" datetime="2008-02-14 20:00">12 décembre 2017</time>
    <h5 class="mt-3">
      {{ teaser_title|default('Du travail assidu avec Christophe Jeanbourquin')}}
    </h4>
    <p class="half-opacity">Ut tincidunt ornare nulla. Nunc suscipit fringilla mauris. Praesent ut orci quis arcu fermentum finibus sit amet volutpat lorem. Donec...</p>
  </div>
  <span class="btn btn-default text-primary py-1 text-left mt-auto mb-4">
      Lire l'article
      <svg class="icon icon-right icon-arrow_right">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
      </svg>
  </span>
</a>
