@charset 'utf-8';

$icon-size-base: 1em;

.icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  top: 0.11em;
  width: $icon-size-base;
  height: $icon-size-base;
  color: inherit;
  transition: transform 0.2s;

  &.icon-download {
    top: 0.25em;
    font-size: 1.8em;
  }

  &.icon-arrow_right.icon-right {
    top: 0.15em;
    margin-left: 0.5em;
  }

  svg {
    width: $icon-size-base;
    height: $icon-size-base;
    fill: currentColor;
  }

  &.icon-right { margin-left: 1.5em; }
  &.icon-left { margin-right: 1.5em; }

  &.icon-arrow_right {
    width: $icon-size-base * 1.25;
  }
}
