@charset 'utf-8';

.site-footer {
  background: $black;

  .disclaimer {
    background: $darkgray;
    font-size: 0.625em;
    font-family: $font-gilroy;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;

    span,
    a,
    a:visited {
      color: transparentize($white, 0.5);
      text-decoration: none;
    }

    a:hover {
      color: $white;
    }
  }
}
