@charset 'utf-8';

.gallery-thumbnail {
  display: block;
  margin-bottom: $grid-gutter-width;
  position: relative;
  font-size: 0;

  @include media-breakpoint-down(sm) {
    margin-bottom: $grid-gutter-width;

    &:hover {
      text-decoration: none;
    }
  }

  .overlay {
    color: $black;

    .content {
      font-size: 16px;
    }

    h4 {
      font-family: $font-graphik;
      font-size: 14px;
      margin-top: 0.75em;
    }
  }

  &:hover .overlay {
    opacity: 1;
  }

  img {
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-up(md) {
  .gallery-thumbnail .overlay {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 2em;
    background: transparentize($red, 0.1);
    color: $white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;

    h4 {
      font-family: $font-gilroy;
    }

    .icon-plus {
      font-size: 3em;
    }

    .content {
      margin: auto;
    }
  }
}
