@charset 'utf-8';

.event-table {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto repeat(2, 1fr);
    grid-auto-flow: column;
    grid-column-gap: $grid-gutter-width;

    @for $i from 1 to 4{
      > div:nth-child(#{$i} ){
        grid-column: 1;
        grid-row: $i;
      }  
    }

    @for $i from 1 to 4{
      > div:nth-child(#{$i+3} ){
        grid-column: 2;
        grid-row: $i;
      }  
    }
  }
}
