{% include "organisms::header/header.twig" with { sub_navigation: true } %}
{% include "organisms::navigation/navigation.twig" %}
<div class="site-wrapper">
  <section class="py-sm-8 py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <img src="../images/home_cover.jpg" class="img-full pb-5">
        </div>
      </div>
      <div class="row d-flex align-items-baseline">
        <div class="col-md-6 offset-md-1 mb-4">
          <h2 class="pt-6 mb-5">L'historique</h2>
          <div class="half-opacity">
            <p>
              Nam pulvinar magna et bibendum eleifend. Curabitur ornare, orci at cursus dignissim, lorem nisi feugiat odio, ac egestas lorem lorem tincidunt ipsum. Praesent et mi mauris. Quisque ultricies felis at dolor fermentum vestibulum. Aenean elementum aliquet augue, ut finibus sem consequat eget. Etiam nunc velit, ullamcorper non dolor sed, auctor ultrices ante. Nunc cursus aliquet nibh, et bibendum felis euismod in. Sed mattis urna ex, ac condimentum turpis maximus et. Duis sollicitudin mi metus, elementum sodales turpis posuere at. Etiam massa nulla, semper vitae dignissim eu, tempus porta risus.</p>
              <p>Fusce ut nisl ut ex malesuada sollicitudin eu quis nunc. Sed feugiat sapien eget enim condimentum sollicitudin. Integer orci sapien, laoreet et dictum eget, molestie in dolor. Phasellus venenatis at nisl vel faucibus. Vestibulum porttitor erat nec dui tempus, id pharetra augue dignissim. Nunc imperdiet dapibus mauris, euismod consectetur velit vulputate tincidunt. Fusce varius nibh id convallis dapibus. Nullam sed lacinia ex, id aliquet libero. Maecenas vehicula posuere aliquam. Etiam convallis odio ac orci bibendum semper. Donec at rhoncus risus, quis elementum leo. Praesent justo dolor, pellentesque id massa non, efficitur egestas ex. Pellentesque interdum interdum lectus, id consequat sem blandit sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer neque odio, malesuada quis odio eget, convallis ultrices turpis. Nullam mauris sem, fringilla eu ante quis, mattis dapibus ligula. Fusce fringilla tincidunt pulvinar. Etiam pellentesque dui at ligula ullamcorper tempor eu vel leo. Morbi interdum euismod ipsum, at rhoncus diam faucibus at. Pellentesque non luctus felis. Pellentesque nec dolor eros. In pharetra arcu ut maximus auctor. Suspendisse potenti. Phasellus vel malesuada sapien. Donec ornare tristique ante ac cursus. Cras ultrices nisi quis vestibulum placerat. Fusce sed sem non arcu congue.
            </p>
          </div>
        </div>
        <div class="col-md-3 offset-md-1">
          <h4 class="font-smoothing">Suivez-nous</h4>
          {% include "atoms::badge/badge.twig" with {
            badge_icon : 'facebook',
            badge_style : 'primary'
          } %}
          {% include "atoms::badge/badge.twig" with {
            badge_icon : 'instagram',
            badge_style : 'primary'
          } %}
          <hr class="my-5">
          <h4 class="mb-4">Les évènements à venir</h4>
          <div class="mb-4">
            <time class="text-primary">12 décembre 2017  |  17h00</time>
            <p class="my-1 half-opacity">Championnat suisse des brass bands | BBF/A</p>
          </div>
          <div class="mb-4">
            <time class="text-primary">12 décembre 2017  |  17h00</time>
            <p class="my-1 half-opacity">Championnat suisse des brass bands | BBF/A</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section class="py-sm-8 py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <img src="../images/home_cover.jpg" class="img-full pb-5">
        </div>
        <div class="col-md-10 offset-md-1">
          <h2 class="pt-6 mb-5">Membres ensemble A</h2>
          <div class="row">
          {% for i in 0..30 %}
            <div class="col-6 col-md-4 col-lg-3">
              <p>
                Soprano Cornet<br>
                <span class="half-opacity">Vincent Dutoit</span>
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</div>
{% include "organisms::footer/footer.twig" %}
{{ source('../icons/icons.svg') }}
