<div class="sub-navigation d-flex" data-offset="0">
  <div class="container my-auto">
    <nav id="sub-navigation">
      <ul>
        <li class="nav-item"><a class="nav-link active" href="#formation-a" data-scrollto="true">Formation A</a></li>
        <li><a href="#formation-b" data-scrollto="true">Formation B</a></li>
      </ul>
    </nav>
  </div>
</div>
