@charset "UTF-8";

@import url("//hello.myfonts.net/count/35f283");

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/35F283_0_0.woff2') format('woff2'),
    url('../fonts/35F283_0_0.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/35F283_1_0.woff2') format('woff2'),
    url('../fonts/35F283_1_0.woff') format('woff');
  font-weight: 700;
}

$font-gilroy: 'Gilroy', sans-serif;

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Graphik';
  src: url('../fonts/Graphik-RegularItalic-Web.woff2') format('woff2'),
    url('../fonts/Graphik-RegularItalic-Web.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

$font-graphik: 'Graphik', sans-serif;

// init:
@import '../config/variables';
@import '../config/bootstrap';
@import '../config/typography';
@import '../config/layout';

// Don't edit the following sections, they should always be preceded by a blank
// line and have exactly those names for the `$ yo toolbox:generate` command
// to work

//
// atoms:
@import 'atoms/button/button';
@import 'atoms/icon/icon';
@import 'atoms/badge/badge';

//
// molecules:

//
// organisms:
@import 'organisms/header/header';
@import 'organisms/footer/footer';
@import 'organisms/navigation/navigation';
