<div class="navigation-wrapper">
  <header class="navigation-header pt-3 pb-4">
      <div class="container">
          <div class="row">
              <div class="col-6">
                  <h1>
                    <img class="site-logo" src="{{ theme.link }}/build/svg/logo_bbf_white.svg" alt="BBF - Brass Band Fribourg">
                  </h1>
              </div>
              <div class="col-6 text-right">
                  <a href="#" class="toggle-navigation pr-3">
                    <svg class="icon icon-right">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                    </svg>
                  </a>
              </div>
          </div>
      </div>
  </header>
  <div class="navigation text-white">
    <div class="container py-5 d-flex flex-column h-100">
      <div class="row d-flex align-items-center h-100">
        <div class="col-md-7 col-lg-8 offset-lg-2 pb-t-5 py-md-5 mx-5 mx-md-0">
          <nav class="site-navigation">
            <ul>
              {% for item in menu.get_items %}
                <li class="page-list-item {{ item.classes|join(' ') }}">
                  <a class="page-list-link" href="{{ item.link }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
        <div class="col-12 d-md-none">
          <hr class="white">
        </div>
        <div class="col-md-5 offset-md-1 col-lg-3 offset-lg-2 pt-3 pb-5 py-md-5 mx-5 mx-md-0">
          <h4 class="font-smoothing">Suivez-nous</h4>
          <p class="half-opacity py-1">Suivez en direct l'actualité du Brass Band Fribourg au travers des réseaux sociaux.</p>

          {% include 'components/common/badge.twig' with { badge_icon: 'facebook', badge_url: 'https://www.facebook.com/bbfribourg/' } %}
          {% include 'components/common/badge.twig' with { badge_icon: 'instagram', badge_url: 'https://www.instagram.com/brassbandfribourg/' } %}
        </div>
      </div>
    </div>
  </div>
</div>
