<footer class="site-footer text-white">
  <div class="container py-6">
    <div class="row">
      <div class="col-md-4 pr-lg-8 py-4">
        <h4  class="font-smoothing">Besoin d'une info ?</h4>
        <p class="half-opacity mt-3 mb-4">Vous souhaitez nous rejoindre ou nous voir participer à l'un de vos événements ?</p>
        <a href="#" class="btn btn-primary">
          Nous contacter
          <svg class="icon icon-right icon-arrow_right">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
          </svg>
        </a>
      </div>
      <div class="col-md-4 pr-lg-8 py-4">
        <h4  class="font-smoothing">Nous soutenir</h4>
        <p class="half-opacity mt-3 mb-4">Vous êtes un particulier ou une entreprise et vous désirez nous manifester votre soutien ?</p>
          <a href="#" class="btn btn-primary">
              Nous soutenir
              <svg class="icon icon-right icon-arrow_right">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
              </svg>
          </a>
      </div>
      <div class="col-md-4 pr-lg-8 py-4">
        <h4 class="font-smoothing">Nous suivre</h4>
        <p class="half-opacity mt-3 mb-4">Suivez en direct l'actualité du Brass Band Fribourg au travers des réseaux sociaux.</p>
        {% include 'components/common/badge.twig' with {
          badge_icon: 'facebook',
          badge_style : 'primary',
          badge_url: 'https://www.facebook.com/bbfribourg/'
          }
        %}
        {% include 'components/common/badge.twig' with {
          badge_icon: 'instagram',
          badge_style : 'primary'
          }
        %}
      </div>
    </div>
  </div>
  <div class="disclaimer py-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-8">
          <span>All Rights Reserved © 2018</span>
          {% for item in footer_menu.get_items %}
            <span class="mx-1">|</span>
            <a href="{{ item.link }}">{{ item.title }}</a>
          {% endfor %}
          </div>
        <div class="col-sm-6 text-left text-sm-right text-lg-left col-lg-4">
          <span>Designed by</span>
          <a href="http://nadj.io/" target="_blank">Nadine Schneuwly</a>
          <span class="mx-1">|</span>
          <span>Dev by </span><a href="http://minguely.ch" target="_blank">Julien Minguely</a>
        </div>
      </div>
    </div>
  </div>
</footer>
