<header class="site-header">
  <div class="top-bar pt-4 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <a href="{{site.link}}">
              <img class="site-logo" src="{{ theme.link }}/build/svg/logo_bbf.svg" alt="BBF - Brass Band Fribourg">
            </a>
          </h1>
        </div>
        <div class="col-6 text-right">
          <a href="#" class="toggle-navigation btn btn-primary">
            Menu
            <svg class="icon icon-right">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% if page.sections %}
    <div class="sub-navigation pt-3" id="sub-navigation" data-offset="0">
      <div class="container">
        <nav>
          <ul>
            {% for section in page.children if section.post_type == "page" %}
              <li><a href="#{{ section.slug }}" data-scrollto="true">{{ section.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  {% endif %}
</header>
