<a href="#" class="badge badge-primary">
  <svg class="icon icon-facebook">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
  </svg>
</a>
<a href="#" class="badge badge-primary">
  <svg class="icon icon-instagram">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use>
  </svg>
</a>
