<div class="sub-navigation d-flex" id="sub-navigation" data-offset="0">
  <div class="container my-auto">
    <nav>
      <ul>
        <li><a href="#formation-a" data-scrollto="true">Formation A</a></li>
        <li><a href="#formation-b" data-scrollto="true">Formation B</a></li>
      </ul>
    </nav>
  </div>
</div>
