@charset 'utf-8';

.sub-navigation {
  border-bottom: 1px solid transparentize($black, 0.9);
  min-height: 80px;
  background: $white;
  line-height: 1;

  nav ul {
    list-style: none;
    margin: 0.75em 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0.4em 1.3em 0.4em 0;

      &:last-child {
        margin-right: none;
      }
    }
  }

  a {
    padding: 1em 0;
    font-family: $font-gilroy;
    font-size: 0.75em;
    font-weight: 500;
    color: $black;
    letter-spacing: 0.015em;
    text-decoration: none;

    &.active,
    &:hover {
      color: $red;
    }
  }
}
