@charset 'utf-8';

.news-teaser-card {
  box-shadow: 0 0 30px 0 transparentize($black, 0.95);
  transition: box-shadow 0.4s ease;

  &:hover {
    box-shadow: 0 0 60px 0 transparentize($black, 0.83);
  }

  .content {
    padding: 0 1em;
  }
}
