<div class="event-item mb-4">
  <time class="text-primary">12 décembre 2017</time>
  <h4 class="h3 my-2">{{ event_title|default('Concert annuel') }}</h4>
  <p class="my-0 py-0">{{ event_infos|default('Salle Univers@lle, Châtel-Saint-Denis, Suissel') }}</p>
  <p class="half-opacity">Concert annuel du BBF/B</p>
</div>
