{% extends "base.twig" %}

{% block content %}
<section class="jumbotron jumbotron-fluid bg-inverse text-white">
  <div class="container jumbotron-content">
    <div class="row">
      <div class="col-md-7">
        <h2>Nous vous souhaitons la bienvenue sur le site du Brass Band Fribourg</h2>
        <p class="lead half-opacity">Le Brass Band Fribourg A, de catégorie Excellence et le Brass Band Fribourg B, en 1e catégorie, sont tous deux sous la direction de Maurice Donnet-Monay.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus →</a>
      </div>
    </div>
  </div>
  <img class="cover-image" src="{{ theme.link }}/build/images/home_cover.jpg">
</section>
<section class="bg-lightgray">
  <div class="container py-7">
    <div class="row">
      <div class="col-md-12">
        <h2>Les dernières news</h3>
      </div>
      <div class="col-md-12 text-right">
        <a href="#" class="btn btn-primary">
          Toutes les news
          <svg class="icon icon-right icon-arrow_right">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
          </svg>
        </a>
      </div>
    </div>


    <div class="row pt-5 d-flex flex-row">
      {% for post in posts %}
        <div class="col-md-4 mb-4 mb-md-0">
          {% include 'components/news/news-teaser.twig' %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container py-7">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-10">
            <h2 class="my-5">Ne manquez pas les prochaines prestations du Brass Band Fribourg!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 offset-md-2">
            <div class="row mb-3">
              <div class="col-sm-6">
                <h4 class="half-opacity mb-5">Ensemble A</h4>
                {% include 'components/event/event-teaser.twig' %}
                {% include 'components/event/event-teaser.twig' with {
                    event_title : 'Championnat suisse des brass bands à Montreux',
                    event_infos : 'Auditorium Stravinsky, Montreux - heure à définir'
                  }
                %}
              </div>
              <div class="col-sm-6">
                <h4 class="half-opacity mb-5">Ensemble B</h4>
                {% include 'components/event/event-teaser.twig' with {
                    event_title : 'Concert HEMU',
                    event_infos : 'Bicubic, Romont - 20h00'
                  }
                %}
                {% include 'components/event/event-teaser.twig' with {
                    event_title : 'Concert de Gala',
                    event_infos : 'Place de fête, Attalens, Suisse - 20h00'
                  }
                %}
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <a href="#" class="btn btn-primary">
                  Tous les évènements
                  <svg class="icon icon-right icon-arrow_right">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 d-none d-md-block">
        <img src="{{ theme.link }}/build/images/agenda_thumbnail.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</section>
{% endblock %}
