@charset 'utf-8';

.site-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $zindex-sticky;
  background: $white;

  .top-bar {
    position: relative;
    height: 80px;
    z-index: 10;
    background: $white;
    box-shadow: 0 0 13px 0 transparentize($black, 0.88);
  }

  .sub-navigation {
    position: relative;
    z-index: 5;
  }

  .toggle-navigation {
    position: relative;
    bottom: -4.6em;
    transform: translateY(-50%);
    box-shadow: 0 0 20px 0 transparentize($black, 0.85);

    @include media-breakpoint-down(sm) {
      bottom: -3.8em;
      width: 3em;
      height: 3em;
      padding: 0;
      line-height: 3em;
    }
  }
}

.site-logo {
  width: 90px;
  height: auto;
}
