@charset 'utf-8';

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 0 13px 0 transparentize($black, 0.88);
  z-index: $zindex-sticky;

  .toggle-navigation {
    position: relative;
    bottom: -4em;
  }
}

.site-logo {
  max-width: 50px;
  height: auto;
}
