@charset 'utf-8';

.site-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $zindex-sticky;
  background: $white;

  .top-bar {
    position: relative;
    z-index: 10;
    background: $white;
    box-shadow: 0 0 13px 0 transparentize($black, 0.88);
  }

  .sub-navigation {
    position: relative;
    z-index: 5;
  }

  .toggle-navigation {
    position: relative;
    bottom: -75px;
    transform: translateY(-50%);
  }
}

.site-logo {
  max-width: 50px;
  height: auto;
}
