@charset 'utf-8';

.blockquote {
  width: 80%;

  p {
    font-size: 1.375em;
    line-height: 1.45em;
    font-weight: 400;
    letter-spacing: 0.0195em;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  p:first-child:before {
    content: '«';
    display: inline-block;
    margin-right: 0.25em;
  }
}
