<header class="site-header">
  <div class="top-bar pt-3 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <img class="site-logo" src="../svg/logo_bbf.svg" alt="BBF - Brass Band Fribourg">
          </h1>
        </div>
        <div class="col-6 text-right">
          <a href="#" class="toggle-navigation btn btn-primary">
            <span class="d-none d-md-inline-block">Menu</span>
            <svg class="icon ml-md-3">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% if sub_navigation %}
    {% include "molecules::sub-navigation/sub-navigation.twig" %}
  {% endif %}
</header>
