{% include "organisms::header/header.twig" %}
{% include "organisms::navigation/navigation.twig" %}
<div class="site-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 mb-5">
        <div class="pt-sm-9 pb-sm-7 pt-5 pb-4">
          <h1>Notre galerie photo</h1>
          <p class="half-opacity">Revivez nos plus beaux moments, nos plus belles émotions !</p>
        </div>
        <div class="row">
          {% for i in 1..6 %}
            <div class="col-md-6">
              {% include "molecules::gallery-thumbnail/gallery-thumbnail.twig" with { image_number: i } %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center pb-7">
        <a href="#" class="btn btn-primary">
          Charger plus
          <svg class="icon icon-right icon-arrow_right">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow_right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
{% include "organisms::footer/footer.twig" %}
{{ source('../icons/icons.svg') }}
