<div class="event-teaser mb-4">
  <time class="text-primary">{{ event.event_date|date('j F Y') }}{% if event.heure %} | {{ event.heure|date('H:i') }}{% endif %}</time>
  <h4 class="h3 my-3">{{ event.title }}</h4>
  <p class="infos">{{ event.informations }}</p>
</div>

