{% for event in events %}
  <div class="mb-2">
    <time class="text-primary">{{ event.datetime_event_date|date('j F Y') }}{% if event.datetime_heure %}  |  {{ event.datetime_heure|date('H:i') }}{% endif %}</time>
    <p class="text-small text-bold">{{ event.title }} | BBF/{{ event.formation|capitalize }}</p>
  </div>
{% endfor %}
