<div class="event-teaser mb-4">
  <time class="text-primary">12 décembre 2017</time>
  <h4 class="h3 my-3">{{ event_title|default('Concert annuel') }}</h4>
  <p class="infos">{{ event_infos|default('Salle Univers@lle, Châtel-Saint-Denis, Suissel') }}</p>
</div>
