@charset 'utf-8';

.navigation-visible {
  overflow: hidden;
}

.navigation-wrapper {
  background: $red;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  opacity: 0;
  transition: opacity 0.3s, transform 0s 0.3s;
  transform: translateX(-100%);

  .navigation {
    overflow-y: scroll;
    height: 100%;
  }

  .navigation-visible & {
    opacity: 1;
    transition: opacity 0.3s, transform 0s 0s;
    transform: translateX(0);
  }

  .toggle-navigation {
    color: $white;
    font-size: 1.1em;
    padding-top: 0.5em;

    svg {
      margin-top: 0.75em;
    }
  }
}

.site-navigation {
  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: $white;
    opacity: 0.3;
    font-family: $font-gilroy;
    font-size: 3.5em;
    color: $white;
    letter-spacing: 0;
    line-height: 1.2em;

    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}
