@charset 'utf-8';

.btn {
  padding: 0.9em 1.8em;
  font-size: 0.8125em;
  border-radius: 1.75em;
  letter-spacing: 0.04em;
  font-weight: 400;
  text-decoration: none !important;

  @include media-breakpoint-down(sm) {
    font-size: 0.85em;
  }

  &.btn-default {
    padding-left: 0;
    padding-right: 0;
  }
}
