<div class="container">
  <div class="row d-flex align-items-baseline">
    <div class="col-md-6 offset-md-1 mb-4">
      <h2 id="{{ section.title|sanitize }}" class="pt-4">{{ section.title }}</h2>
      <div class="half-opacity">
        {{ section.content }}
      </div>
    </div>
    <div class="col-md-3 offset-md-1 mb-4">
      {{ section.content_sidebar }}
    </div>
  </div>
</div>
