<div class="container">
  <div class="row d-flex align-items-baseline">
    <div class="col-md-10 offset-md-1 mb-4">
      <h2 id="{{ section.title|sanitize }}" class="pt-4">{{ section.title }}</h2>
      <div class="row">
      {% for member in section.members %}
        <div class="col-6 col-md-4 col-lg-3">
          <p>
            {{ member.instrument }}<br>
            <span class="half-opacity">{{ member.name }}</span>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

