<div class="partners my-4">
  {% for i in 0..11 %}
    <a class="partner d-flex" href="#">
      <img
        class="img-fluid m-auto"
        src="../images/sponsor.png"
        srcset="../images/sponsor_2x.png 2x"
      >
    </a>
  {% endfor %}
</div>
