@charset 'utf-8';

.partners {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 -$grid-gutter-width / 2;

  .partner {
    display: block;
    padding: $grid-gutter-width $grid-gutter-width/2;
    max-width: calc(200px + $grid-gutter-width);
    filter: grayscale(100%);
    transition: filter 0.3s ease;

    @include media-breakpoint-down(sm) {
      width: 45%;
    }

    &:hover {
      filter: grayscale(0%);
    }
  }
}
