@charset 'utf-8';

.jumbotron {
  position: relative;
  overflow: hidden;

  .jumbotron-content {
    position: relative;
    z-index: 10;
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .cover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 5;
  }
}
