{% include "organisms::header/header.twig" %}
{% include "organisms::navigation/navigation.twig" %}
<div class="
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-1 mb-8">
          <h2 id="formation-a" class="mb-6 pt-8">Formation A</h3>
          {% include "molecules::event-item/event-item.twig" %}
          <hr class="my-5">
          {% include "molecules::event-item/event-item.twig" %}
          <hr class="my-5">
          {% include "molecules::event-item/event-item.twig" %}
          <hr class="mt-5">
        </div>
        <div class="col-md-4 offset-md-1 mb-8">
          <h2 id="formation-b" class="mb-6 pt-8">Formation B</h3>
          {% include "molecules::event-item/event-item.twig" %}
          <hr class="my-5">
          {% include "molecules::event-item/event-item.twig" %}
          <hr class="my-5">
          {% include "molecules::event-item/event-item.twig" %}
          <hr class="mt-5">
        </div>
      </div>
    </div>
  </section>
</div>
{% include "organisms::footer/footer.twig" %}
{{ source('../icons/icons.svg') }}
